.toolbar {
    padding: 0;
    /* z-index: 999; */
    box-shadow: 2px 2px 2px 2px #000;
    background-color: var(--element-color);
}
.moon {
    padding-left: 20px;
}
.inside-toolbar {
    width: 87%;
    margin: auto;
}
.inside-toolbar h1{
    color: var(--text-color);
}
.text {
    cursor: pointer;
    color: var(--text-color);
}