<div class="mother-countainer"> 
  <div *ngIf="country" 
    fxLayout="column"
    fxLayoutAlign="space-evenly start"
    class="countainer">


    <button class="button back" mat-button (click)="goBack()" fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="space-between center">
      <svg class="Svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path class="Svg" d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"/></svg>      BACK
    </button>
    <div *ngIf="country" 
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.xs="space-between start"
      fxLayoutAlign.sm="space-between center">
      <img src={{country[0].flags.png}} class="flag" alt="flag">
      <div fxLayout="column" fxLayoutAlign="center start" class="information">
        <h1 class="paragragh">{{country[0].name.official}}</h1>
        <div fxLayout="row wrap"
          fxLayout.xs="column"
          class="text-information">
          <div>
            <p class="paragragh">Population: <span class="gray">{{country[0].population}}</span></p>
            <p class="paragragh">Region: <span class="gray">{{country[0].region}}</span></p>
            <p class="paragragh">Sub Region: <span class="gray">{{country[0].subregion}}</span></p>
            <p class="paragragh">Capital: <span class="gray">{{country[0].capital}}</span></p>
          </div>
          <div class="information-2nd">
            <p class="paragragh">Top Level Domain: <span class="gray">{{country[0].topLevelDomain}}</span></p>
            <p class="paragragh">Currencies: <span *ngFor="let Currency of Object.keys(country[0].currencies)" class="gray"> {{country[0].currencies.Currency.name}},</span></p>
            <p class="paragragh">Languages: <span *ngFor="let Language of Object.keys(country[0].languages)" class="gray">{{country[0].languages.Language.name}},</span></p>
          </div>
        </div>
        <div fxFlex fxLayout="column">
          <p class="paragragh">
            Border Countries: 
          </p>
          <div fxLayout="row wrap" fxLayputAlign="space-between start">
            <button mat-button *ngFor="let Border of borders" class="gray button border" [routerLink]="['/countrydetail',Border.name]">{{Border.name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  