.countainer {
    width:  87%;
    margin: auto;
    height: 600px;
}
.button {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.flag {
    width: 470px;
}
.information {
    display: flex;
    float: right;
    position: relative;
    left: 10%;
}
.information-2nd {
    position: relative;
    left: 20%;
}
.gray {
    color:  hsl(0, 0%, 52%);
}