<div *ngIf="country" 
  fxLayout="column"
  fxLayoutAlign="space-evenly start"
  class="countainer">


  <button class="button" mat-button (click)="goBack()">BACK</button>
  <div *ngIf="country" fxLayout="row" fxLayoutAlign="space-between center">
    <img src={{country[0].flag}} class="flag" alt="flag">
    <div fxLayout="column" fxLayoutAlign="center start" class="information">
      <h1>{{country[0].name}}</h1>
      <div fxLayout="row">
        <div>
          <p>Native Name: <span class="gray">{{country[0].nativeName}}</span></p>
          <p>Population: <span class="gray">{{country[0].population}}</span></p>
          <p>Region: <span class="gray">{{country[0].region}}</span></p>
          <p>Sub Region: <span class="gray">{{country[0].subregion}}</span></p>
          <p>Capital: <span class="gray">{{country[0].capital}}</span></p>
        </div>
        <div class="information-2nd">
          <p>Top Level Domain: <span class="gray">{{country[0].topLevelDomain}}</span></p>
          <p>Currencies: <span *ngFor="let Currency of country[0].currencies" class="gray"> {{Currency.name}},</span></p>
          <p>Languages: <span *ngFor="let Language of country[0].languages" class="gray">{{Language.name}},</span></p>
        </div>
      </div>
      <div fxFlex>
        <p>
          Border Countries: 
          <button mat-button *ngFor="let Border of country[0].borders" class="gray button">{{Border}}</button>
        </p>
      </div>
    </div>
  </div>
</div>
