.mother-countainer {
    background-color: var(--background-color);
}
.countainer {
    width:  87%;
    margin: auto;
    height: 599px;
}
.button {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--element-color);
    color: var(--text-color);
    border-radius: 10px;
}
.flag {
    width: 470px;
}
.information {
    display: flex;
    float: right;
    position: relative;
    left: 10%;
}
.information-2nd {
    position: relative;
    left: 20%;
}
.gray {
    color:  grey;
}
.paragragh {
    color: var(--text-color);
}