.container {
    background-color: hsl(0, 0%, 98%);
}
.search {
    width: 87%;
    margin: auto;
}
#input {
    width: 65%;
    padding: 12px;
    border: none;
    border-radius: 7px;
    outline: none;
}
#region {
    width: 30%;
    padding: 12px;
    border: none;
    border-radius: 7px;
    outline: none;
}
.option {
    border: none;
    border-radius: 7px;
    outline: none;
}