@media (min-width: 599px) {
    #input {
        width: 65%;
    }
    .country {
        width: 300px;
    }
}
@media (max-width: 599px) {
    #region {
        display: flex;
        float: left;
    }
}
@media (max-width: 685px) {
    .country {
        width: 300px;
        margin: auto;
        margin-bottom: 40px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
    }
}
@media (max-width: 435px) {
    #region {
        width: 140px;
        padding: 12px;
        margin-top: 30px;
        margin-bottom: 15px;
        border: none;
        border-radius: 7px;
        outline: none;
        box-shadow: 2px 2px 2px 1px #888888;
        cursor: pointer;
        background-color: var(--element-color);
        color: var(--text-color);
    }
}
@media (max-width: 320px) {
    .country {
        width: 250px;
    }
}
.container {
    background-color: var(--background-color);
    padding-top: 40px;
}
.search {
    width: 87%;
    margin: auto;
    padding-bottom: 40px;
}
.input {
    position: relative;
}
.input svg{
    content: "";
    position: absolute;
    left: 10px;
    top: 5px;
    bottom: 0;
    width: 20px;
}
#input {
    padding: 12px;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    outline: none;
    box-shadow: 2px 2px 2px 1px #888888;
    background-color: var(--element-color);
    color: var(--text-color);
}
#region {
    width: 140px;
    padding: 12px;
    border: none;
    border-radius: 7px;
    outline: none;
    box-shadow: 2px 2px 2px 1px #888888;
    cursor: pointer;
    background-color: var(--element-color);
    color: var(--text-color);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color);
}
#region {
    padding: 12px;
    border: none;
    border-radius: 7px;
    outline: none;
    box-shadow: 2px 2px 2px 1px #888888;
    cursor: pointer;
    background-color: var(--element-color);
    color: var(--text-color);
}
.option {
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    background-color: var(--element-color);
}
.country {
    margin-bottom: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}
.countries-container {
    box-sizing: border-box;
    width: 87%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.flag {
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.information {
    margin-left: 23px;
}
.information h2{
    color: var(--text-color);
}
.information p{
    color: var(--text-color);
}
.grey {
    color: gray;
}